/* 
 * Glypgicon Animation
 */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

/*
 * Globals
 */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.message-container {
  margin-right: auto;
  margin-left: auto;  
}

.content-container{
  min-height: 100%;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  position: fixed;
  bottom: 0;
  text-align: left;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Affix and center for responsivenes
 */

@media (min-width: 768px) {
  /* Pull out the footer */
  .mastfoot {
    position: fixed;
    bottom: 0;
    text-align: left;
  }
  /* Handle the widths */
  .mastfoot,
  .message-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .message-container {
    width: 700px;
  }
}