.footer {
    position: fixed;
    margin-top: 30px;
    bottom: 0;
    text-align: center;
    width: 99%;
    height: 24px;
}

#message-reminder {
	display:inline;
}

#messages {
	position: fixed;
	right:15px;
	top:0;
	width:275px;
}

.calendar, .reminder, .error, .list, .mail{
	width: 100%;
	height: 80px;
	margin: 10px;
	border-radius: 40px 15px 40px 40px;
	border: 2px solid black;

}

.calendar {
	background-color: rgba(0, 255, 0, .5);
}
.calendar:hover {
	background-color: rgba(0, 255, 0, 1);
}

.reminder {
	background-color: rgba(0, 0, 255, .5);
}
.reminder:hover {
	background-color: rgba(0, 0, 255, 1);
}

.error {
	background-color: rgba(255, 0, 0, .5);
}
.error:hover {
	background-color: rgba(255, 0, 0, 1);
}

.list {
	background-color: rgba(255, 153, 0, .5);
}
.list:hover {
	background-color: rgba(255, 153, 0, 1);
}

.mail{
	background-color: rgba(102, 0, 102, .5);
}
.mail:hover {
	background-color: rgba(102, 0, 102, 1);
}

.icon {
	position: relative;
	height:30px;
	max-width: 40px;
	top: 25px;
	left: 10px;
}

.x {
	position: relative;
	float:right;
	right:10px;
	top: 10px;
	width: 18px;
	height: 18px;
}

.msg-title {
	width: calc(100% - 80px);
	font-size: 20px;
	text-align: center;
	position: relative;
	left: 50px;
	bottom: 42px;
}

.msg-text {
	position: relative;
	width: calc(100% - 65px);
	font-size: 11px;
	left: 55px;
	bottom: 50px;
}

.saved {
	float:left;
	width: 275px;
	height: 80px;
}

.hovered {
	border: 2px solid gold;
	background-color: gold;
}