.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 99%;
    height: 24px;
}

.test {
    position : absolute;
    z-index: 10;
    top: 80px;
    right: 50%;
}

#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}