.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 99%;
    height: 24px;
}
.alert
{
    background-color:#c9c9c9;
    color: black;
    border-width: 0;
}

#messageSpace
{
    position: absolute;
    top:1px;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 100;
    margin: auto;
}

#messagesList li
{
    padding: 3px 10px

}